USE [master]
GO
/****** Object:  Database [ingilizce kelime]    Script Date: 21.12.2025 22:55:05 ******/
CREATE DATABASE [ingilizce kelime]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ingilizce kelime', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ingilizce kelime.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ingilizce kelime_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ingilizce kelime_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ingilizce kelime].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ingilizce kelime]
GO
/****** Object:  Table [dbo].[kelimeler]    Script Date: 21.12.2025 22:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kelimeler](
	[sıra] [smallint] IDENTITY(1,1) NOT NULL,
	[ingilizce] [varchar](50) NULL,
	[türkçe] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
